.footer-element-bar {
    width: 90%;
    max-width: 1200px;
    min-height: 100px;
    margin: 0 auto 2rem;

    background-color: var(--header-color);

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-element-bar > ul {
    display: flex;
    align-items: center;
    gap: 2rem;

    padding: 1rem 2rem;
    margin: 0;
}

.footer-element-bar > ul > li {
    font-size: 0.9rem;
    color: var(--text-color);
}

.footer-element-bar a {
    color: var(--text-color);
    text-decoration: none;
}