.nav-element-bar {
    width: 90%;
    max-width: 1200px;
    min-height: 85px;
    margin: 2rem auto 0;

    background-color: var(--header-color);

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 0;
}

.nav-element {
    font-size: 1.6rem;
    font-weight: 600;
}

.nav-element-bar > ol {
    display: flex;
    gap: 2rem;
    padding: 1rem 2rem;
    margin: 0;
    list-style: none;
    user-select: none;
}

.nav-element a {
    color: var(--text-color);
    text-decoration: none;
}