.main-page {
    min-height: 500px;
    padding: 5rem 4rem;
}

.main-page h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.introduction {
    max-width: 700px;
}

.introduction p {
    font-size: 1.25rem;
    line-height: 1.6;
}