:root {
    --background-color: #F4F4F2;
    --primary-color: #FFFFFF;

    --header-color: #FFFFFF;
    --footer-color: #222222;

    --text-color: #444444;
    --heading-color: #222222;

    --accent-color: #3C6E71;
    --border-color: #D9D9D6;
}

body {
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--primary-color);
}

h1,
h2,
h3 {
    color: var(--heading-color);
}